# 3. Geocoding

## Trying to use the openCage API to translate Adress into Geodates.

In [ ]:
import pandas as pd
import datetime
import requests
import json
import geocoder

In [ ]:
df = pd.read_pickle("/Users/Tianwang/ironhack/git/03_project_ironhack_tableau/data/baton_rouge_animal_control_incidents_clean_update.pkl")

In [3]:
len(df)

52731

In [8]:
location = pd.DataFrame(df["clean_adress"])

In [9]:
location

                                  clean_adress
0            3366 SYCAMORE, BATON ROUGE, 70805
1      2582 WOODLAND RIDGE, BATON ROUGE, 70816
2                    4463 MAIN, ZACHARY, 70791
3                2100 ERIE, BATON ROUGE, 70805
4            299 VAN BUREN, BATON ROUGE, 70714
...                                        ...
73298            1700 JOHN MARKS, BAKER, 70714
73299            1520 UTAH, BATON ROUGE, 70802
73300            1520 UTAH, BATON ROUGE, 70802
73301            2822 LULA, BATON ROUGE, 70802
73302        5228 PRESCOTT, BATON ROUGE, 70805

[52731 rows x 1 columns]

In [10]:
adress = location.drop_duplicates(subset="clean_adress", inplace=False)

In [24]:
adress_list = list(adress.loc[adress["clean_adress"].notna()]["clean_adress"])

In [26]:
len(adress_list)

30894

### Test Geocoder to fetch the Geo coordinates using OpenCage API.

In [ ]:
url = "https://api.opencagedata.com/geocode/v1/json?parameters"

In [ ]:
g = geocoder.opencage("3671 N FOSTER, BATON ROUGE, 70805", key="x")

In [ ]:
type(g.json)

#### Testing with one adress

In [ ]:
g.json

In [ ]:
result = g.json.keys()

In [ ]:
key = list(result)[0]

In [ ]:
g.json[key]

#### Test on a bigger sample

In [30]:
sample = adress_list[0:20]

In [31]:
sample

['3366 SYCAMORE, BATON ROUGE, 70805',
 '2582 WOODLAND RIDGE, BATON ROUGE, 70816',
 '4463 MAIN, ZACHARY, 70791',
 '2100 ERIE, BATON ROUGE, 70805',
 '299 VAN BUREN, BATON ROUGE, 70714',
 '2900 WOODBROOK, BATON ROUGE, 70815',
 '24873 EUBANKS, BATON ROUGE, 70722',
 '6621 MARIONETTE, BATON ROUGE, 70811',
 '5420 OSBOURNE, BATON ROUGE, 70805',
 '1331 SHERWOOD FOREST, BATON ROUGE, 70815',
 '2680 PROGRESS, BATON ROUGE, 70807',
 '211 CRESTVIEW, BATON ROUGE, 70807',
 '8417 PERKINS, BATON ROUGE, 7081',
 '14347 BYWOOD, BATON ROUGE, 70819',
 "2171 O'NEAL, PARISH, 70816",
 '15913 CHICKAMAUSA, BATON ROUGE, 70817',
 '3008 MAIN, BATON ROUGE, 70802',
 '13708 STONEGATE, BATON ROUGE, nan',
 '19845 DEER CREEK, PARISH, 70791',
 '552 FLANNERY, UNKNOWN, 70815']

In [32]:
geo_list_test = []
for adress in sample:
    g = geocoder.opencage(adress, key="x")
    result = g.json.keys()
    key = list(result)[0]
    geo = g.json[key]
    geo_list_test.append(geo)

In [33]:
geo_list

[{'lat': "30° 29' 40.42716'' N", 'lng': "91° 9' 21.98016'' W"},
 {'lat': "30° 25' 34.68792'' N", 'lng': "91° 2' 19.37184'' W"},
 {'lat': "30° 38' 54.66876'' N", 'lng': "91° 9' 23.38596'' W"},
 {'lat': "30° 28' 33.38040'' N", 'lng': "91° 10' 6.17880'' W"},
 {'lat': "30° 34' 53.04000'' N", 'lng': "91° 8' 34.44000'' W"},
 {'lat': "30° 25' 59.67120'' N", 'lng': "91° 1' 36.49080'' W"},
 {'lat': "30° 42' 52.64964'' N", 'lng': "90° 55' 33.98448'' W"},
 {'lat': "30° 31' 46.64748'' N", 'lng': "91° 7' 31.54188'' W"},
 {'lat': "30° 29' 9.60000'' N", 'lng': "91° 8' 53.16000'' W"},
 {'lat': "30° 26' 55.68576'' N", 'lng': "91° 2' 43.37304'' W"},
 {'lat': "30° 27' 16.68564'' N", 'lng': "91° 9' 30.38400'' W"},
 {'lat': "30° 32' 35.58084'' N", 'lng': "91° 11' 59.22312'' W"},
 {'lat': "30° 23' 18.85344'' N", 'lng': "91° 6' 17.10684'' W"},
 {'lat': "30° 28' 16.39740'' N", 'lng': "91° 1' 36.56856'' W"},
 {'lat': "32° 35' 32.66880'' N", 'lng': "91° 58' 4.19520'' W"},
 {'lat': "30° 23' 25.44000'' N", 'lng': "91° 0' 7.56000'' W"},
 {'lat': "30° 26' 45.45456'' N", 'lng': "91° 11' 14.56800'' W"},
 {'lat': "18° 47' 1.60800'' N", 'lng': "100° 46' 44.36400'' E"},
 {'lat': "32° 35' 6.79704'' N", 'lng': "92° 53' 52.76040'' W"},
 {'lat': "30° 27' 20.88000'' N", 'lng': "91° 3' 34.56000'' W"},
 {'lat': "30° 24' 32.04000'' N", 'lng': "91° 5' 3.12000'' W"},
 {'lat': "30° 25' 31.55484'' N", 'lng': "91° 10' 7.43052'' W"},
 {'lat': "30° 33' 10.18260'' N", 'lng': "91° 10' 12.31284'' W"},
 {'lat': "30° 20' 41.08164'' N", 'lng': "91° 6' 19.02996'' W"},
 {'lat': "30° 33' 21.06108'' N", 'lng': "91° 8' 35.35800'' W"},
 {'lat': "30° 31' 18.69060'' N", 'lng': "91° 0' 21.35412'' W"},
 {'lat': "30° 28' 3.39816'' N", 'lng': "91° 2' 22.31772'' W"},
 {'lat': "30° 23' 32.70336'' N", 'lng': "91° 1' 19.46964'' W"},
 {'lat': "30° 29' 32.21232'' N", 'lng': "91° 8' 31.42608'' W"},
 {'lat': "30° 22' 37.51824'' N", 'lng': "91° 3' 32.76396'' W"},
 {'lat': "30° 29' 2.73048'' N", 'lng': "91° 9' 10.27908'' W"},
 {'lat': "30° 16' 31.40400'' N", 'lng': "91° 12' 48.47040'' W"},
 {'lat': "32° 35' 32.66880'' N", 'lng': "91° 58' 4.19520'' W"},
 {'lat': "31° 14' 57.66468'' N", 'lng': "92° 16' 45.47280'' W"},
 {'lat': "30° 32' 3.34500'' N", 'lng': "91° 6' 28.82592'' W"},
 {'lat': "30° 34' 32.67588'' N", 'lng': "91° 12' 21.38976'' W"},
 {'lat': "30° 21' 57.64716'' N", 'lng': "91° 4' 54.59016'' W"},
 {'lat': "30° 25' 21.77544'' N", 'lng': "91° 8' 51.97308'' W"},
 {'lat': "30° 26' 54.60000'' N", 'lng': "91° 7' 48.00000'' W"},
 {'lat': "30° 29' 25.36404'' N", 'lng': "91° 8' 26.04084'' W"},
 {'lat': "30° 25' 31.55484'' N", 'lng': "91° 10' 7.43052'' W"},
 {'lat': "30° 22' 11.69292'' N", 'lng': "91° 2' 10.37040'' W"},
 {'lat': "30° 35' 29.99040'' N", 'lng': "91° 10' 7.70160'' W"},
 {'lat': "30° 29' 9.60000'' N", 'lng': "91° 8' 53.16000'' W"},
 {'lat': "30° 40' 53.23908'' N", 'lng': "91° 8' 21.70644'' W"},
 {'lat': "30° 25' 39.75024'' N", 'lng': "91° 3' 3.12192'' W"},
 {'lat': "30° 26' 25.54656'' N", 'lng': "91° 7' 11.21124'' W"},
 {'lat': "30° 44' 17.88000'' N", 'lng': "91° 4' 12.00000'' W"},
 {'lat': "30° 28' 43.36140'' N", 'lng': "91° 8' 34.45476'' W"},
 {'lat': "30° 35' 53.88288'' N", 'lng': "91° 4' 26.24880'' W"},
 {'lat': "30° 37' 33.90168'' N", 'lng': "91° 4' 59.83464'' W"},
 {'lat': "30° 29' 13.06536'' N", 'lng': "91° 7' 45.35184'' W"},
 {'lat': "30° 38' 54.66876'' N", 'lng': "91° 9' 23.38596'' W"},
 {'lat': "30° 26' 18.94596'' N", 'lng': "91° 0' 57.41136'' W"},
 {'lat': "30° 33' 15.67656'' N", 'lng': "91° 2' 12.37416'' W"},
 {'lat': "30° 22' 24.69252'' N", 'lng': "91° 4' 16.37364'' W"},
 {'lat': "30° 27' 54.40860'' N", 'lng': "91° 9' 43.96140'' W"},
 {'lat': "30° 26' 49.11216'' N", 'lng': "91° 7' 46.31628'' W"},
 {'lat': "30° 35' 29.99040'' N", 'lng': "91° 10' 7.70160'' W"},
 {'lat': "30° 26' 36.32388'' N", 'lng': "91° 7' 56.60508'' W"},
 {'lat': "30° 27' 20.88000'' N", 'lng': "91° 3' 34.56000'' W"},
 {'lat': "30° 34' 56.09496'' N", 'lng': "91° 9' 52.86744'' W"},
 {'lat': "30° 31' 54.12000'' N", 'lng': "91° 7' 0.12000'' W"},
 {'lat': "30° 24' 42.92244'' N", 'lng': "91° 11' 26.63664'' W"},
 {'lat': "30° 28' 38.44920'' N", 'lng': "91° 0' 11.13012'' W"},
 {'lat': "30° 28' 1.30188'' N", 'lng': "91° 7' 59.85732'' W"},
 {'lat': "30° 24' 7.21692'' N", 'lng': "90° 52' 1.79544'' W"},
 {'lat': "30° 29' 31.58448'' N", 'lng': "91° 8' 51.08964'' W"},
 {'lat': "30° 32' 9.44268'' N", 'lng': "91° 10' 40.80972'' W"},
 {'lat': "30° 27' 40.36536'' N", 'lng': "91° 8' 21.38856'' W"},
 {'lat': "30° 25' 38.28000'' N", 'lng': "91° 2' 8.16000'' W"},
 {'lat': "30° 39' 21.96000'' N", 'lng': "91° 8' 8.88000'' W"},
 {'lat': "30° 24' 58.68612'' N", 'lng': "91° 10' 18.54876'' W"},
 {'lat': "30° 28' 2.43372'' N", 'lng': "91° 3' 2.41200'' W"},
 {'lat': "30° 36' 33.20928'' N", 'lng': "91° 6' 21.34620'' W"},
 {'lat': "30° 29' 13.17444'' N", 'lng': "91° 9' 37.18188'' W"},
 {'lat': "30° 30' 47.74032'' N", 'lng': "91° 8' 20.36004'' W"},
 {'lat': "30° 27' 0.04320'' N", 'lng': "91° 1' 1.29000'' W"},
 {'lat': "30° 34' 9.43464'' N", 'lng': "91° 9' 0.22320'' W"},
 {'lat': "30° 23' 2.09688'' N", 'lng': "91° 3' 52.21152'' W"},
 {'lat': "30° 26' 50.87184'' N", 'lng': "91° 4' 49.74456'' W"},
 {'lat': "30° 34' 46.67376'' N", 'lng': "90° 59' 39.37056'' W"},
 {'lat': "30° 27' 7.12872'' N", 'lng': "91° 2' 18.58920'' W"},
 {'lat': "30° 24' 36.75384'' N", 'lng': "91° 3' 35.28288'' W"},
 {'lat': "30° 31' 54.12000'' N", 'lng': "91° 7' 0.12000'' W"},
 {'lat': "30° 25' 24.69864'' N", 'lng': "91° 6' 47.44044'' W"},
 {'lat': "30° 28' 47.18208'' N", 'lng': "91° 9' 31.61232'' W"},
 {'lat': "30° 32' 0.61224'' N", 'lng': "91° 11' 58.70868'' W"},
 {'lat': "30° 29' 55.56768'' N", 'lng': "91° 6' 27.91188'' W"},
 {'lat': "30° 29' 45.71952'' N", 'lng': "91° 7' 45.33240'' W"},
 {'lat': "30° 21' 41.75208'' N", 'lng': "91° 3' 58.66452'' W"},
 {'lat': "30° 29' 7.13688'' N", 'lng': "91° 9' 26.02872'' W"},
 {'lat': "30° 28' 23.00916'' N", 'lng': "91° 8' 35.27376'' W"},
 {'lat': "30° 26' 35.31948'' N", 'lng': "91° 1' 49.68300'' W"},
 {'lat': "30° 33' 49.72104'' N", 'lng': "91° 8' 52.40688'' W"},
 {'lat': "30° 27' 48.26016'' N", 'lng': "91° 9' 1.43496'' W"},
 {'lat': "30° 24' 45.38088'' N", 'lng': "91° 6' 59.62788'' W"},
 {'lat': "30° 25' 51.12120'' N", 'lng': "91° 9' 56.02680'' W"},
 {'lat': "30° 29' 9.60000'' N", 'lng': "91° 8' 53.16000'' W"},
 {'lat': "30° 29' 10.11660'' N", 'lng': "91° 3' 22.99140'' W"},
 {'lat': "30° 22' 24.69252'' N", 'lng': "91° 4' 16.37364'' W"},
 {'lat': "30° 28' 49.37520'' N", 'lng': "91° 6' 32.93532'' W"},
 {'lat': "30° 27' 52.45380'' N", 'lng': "91° 9' 33.24744'' W"},
 {'lat': "30° 24' 55.77120'' N", 'lng': "91° 10' 25.85280'' W"},
 {'lat': "30° 34' 31.65384'' N", 'lng': "91° 8' 57.93036'' W"},
 {'lat': "30° 38' 54.81024'' N", 'lng': "91° 12' 32.33232'' W"},
 {'lat': "30° 38' 15.52128'' N", 'lng': "91° 9' 39.80088'' W"},
 {'lat': "30° 34' 50.16612'' N", 'lng': "91° 9' 46.98180'' W"},
 {'lat': "30° 25' 38.28000'' N", 'lng': "91° 2' 8.16000'' W"},
 {'lat': "30° 34' 5.79252'' N", 'lng': "91° 9' 6.20100'' W"},
 {'lat': "30° 26' 23.56512'' N", 'lng': "91° 1' 53.26248'' W"},
 {'lat': "30° 39' 21.96000'' N", 'lng': "91° 8' 8.88000'' W"},
 {'lat': "30° 25' 38.28000'' N", 'lng': "91° 2' 8.16000'' W"},
 {'lat': "30° 28' 42.47580'' N", 'lng': "91° 8' 38.81688'' W"},
 {'lat': "30° 26' 54.60000'' N", 'lng': "91° 7' 48.00000'' W"},
 {'lat': "30° 24' 42.92244'' N", 'lng': "91° 11' 26.63664'' W"},
 {'lat': "30° 23' 34.00224'' N", 'lng': "91° 2' 28.36968'' W"},
 {'lat': "30° 30' 18.72000'' N", 'lng': "91° 7' 5.16000'' W"},
 {'lat': "30° 24' 20.55168'' N", 'lng': "91° 11' 9.48372'' W"},
 {'lat': "30° 31' 58.91160'' N", 'lng': "91° 9' 51.42672'' W"},
 {'lat': "30° 27' 20.88000'' N", 'lng': "91° 3' 34.56000'' W"},
 {'lat': "30° 27' 20.88000'' N", 'lng': "91° 3' 34.56000'' W"},
 {'lat': "30° 32' 13.63380'' N", 'lng': "91° 3' 54.58788'' W"},
 {'lat': "30° 25' 38.28000'' N", 'lng': "91° 2' 8.16000'' W"},
 {'lat': "30° 26' 47.04144'' N", 'lng': "91° 10' 4.67508'' W"},
 {'lat': "30° 28' 17.68440'' N", 'lng': "91° 8' 50.38332'' W"},
 {'lat': "30° 28' 2.46648'' N", 'lng': "91° 10' 6.96432'' W"},
 {'lat': "30° 25' 38.28000'' N", 'lng': "91° 2' 8.16000'' W"},
 {'lat': "30° 29' 9.60000'' N", 'lng': "91° 8' 53.16000'' W"},
 {'lat': "30° 23' 2.09688'' N", 'lng': "91° 3' 52.21152'' W"},
 {'lat': "30° 28' 30.87876'' N", 'lng': "91° 7' 29.91756'' W"},
 {'lat': "30° 26' 18.91032'' N", 'lng': "91° 4' 53.57064'' W"},
 {'lat': "30° 29' 5.28000'' N", 'lng': "91° 4' 8.04000'' W"},
 {'lat': "30° 21' 26.19936'' N", 'lng': "91° 0' 30.11940'' W"},
 {'lat': "30° 29' 5.28000'' N", 'lng': "91° 4' 8.04000'' W"},
 {'lat': "30° 27' 54.21204'' N", 'lng': "91° 2' 43.23804'' W"},
 {'lat': "30° 27' 18.31392'' N", 'lng': "91° 1' 30.36792'' W"},
 {'lat': "30° 21' 36.67104'' N", 'lng': "91° 4' 21.61164'' W"},
 {'lat': "30° 24' 24.31188'' N", 'lng': "91° 2' 51.55188'' W"},
 {'lat': "30° 25' 22.99944'' N", 'lng': "91° 10' 39.07200'' W"},
 {'lat': "30° 26' 7.79136'' N", 'lng': "91° 9' 23.38704'' W"},
 {'lat': "30° 27' 42.19596'' N", 'lng': "91° 5' 12.19884'' W"},
 {'lat': "30° 27' 33.17724'' N", 'lng': "91° 6' 19.12032'' W"},
 {'lat': "30° 27' 25.81596'' N", 'lng': "91° 7' 8.52528'' W"},
 {'lat': "30° 17' 59.70084'' N", 'lng': "90° 51' 10.35000'' W"},
 {'lat': "30° 26' 15.01080'' N", 'lng': "91° 10' 30.46728'' W"},
 {'lat': "30° 35' 38.04720'' N", 'lng': "91° 7' 21.35280'' W"},
 {'lat': "30° 25' 34.15980'' N", 'lng': "91° 8' 25.58040'' W"},
 {'lat': "30° 35' 52.33632'' N", 'lng': "91° 4' 57.87516'' W"},
 {'lat': "30° 27' 23.00976'' N", 'lng': "91° 2' 12.60600'' W"},
 {'lat': "30° 26' 22.17336'' N", 'lng': "91° 5' 9.91140'' W"},
 {'lat': "30° 29' 40.24392'' N", 'lng': "91° 7' 47.15112'' W"},
 {'lat': "30° 23' 10.96224'' N", 'lng': "91° 3' 55.40868'' W"},
 {'lat': "30° 26' 7.61676'' N", 'lng': "91° 1' 12.38520'' W"},
 {'lat': "30° 41' 1.48452'' N", 'lng': "91° 8' 36.76632'' W"},
 {'lat': "30° 39' 55.15452'' N", 'lng': "91° 12' 41.81292'' W"},
 {'lat': "30° 26' 28.25520'' N", 'lng': "91° 10' 24.51720'' W"},
 {'lat': "30° 21' 36.96660'' N", 'lng': "90° 57' 41.08860'' W"},
 {'lat': "30° 29' 16.59732'' N", 'lng': "91° 4' 21.26532'' W"},
 {'lat': "30° 33' 24.67728'' N", 'lng': "91° 9' 40.38552'' W"},
 {'lat': "30° 25' 55.31052'' N", 'lng': "91° 5' 20.29776'' W"},
 {'lat': "30° 33' 26.04744'' N", 'lng': "91° 2' 9.87288'' W"},
 {'lat': "30° 25' 38.28000'' N", 'lng': "91° 2' 8.16000'' W"},
 {'lat': "30° 26' 14.76636'' N", 'lng': "91° 2' 44.32704'' W"},
 {'lat': "30° 28' 19.24212'' N", 'lng': "91° 4' 12.27828'' W"},
 {'lat': "30° 30' 17.69112'' N", 'lng': "91° 9' 4.84596'' W"},
 {'lat': "30° 23' 25.44000'' N", 'lng': "91° 0' 7.56000'' W"},
 {'lat': "30° 23' 7.83348'' N", 'lng': "91° 3' 49.54356'' W"},
 {'lat': "30° 32' 45.67812'' N", 'lng': "91° 10' 33.38688'' W"},
 {'lat': "30° 23' 31.20000'' N", 'lng': "91° 5' 21.12000'' W"},
 {'lat': "30° 28' 21.68400'' N", 'lng': "91° 3' 27.37476'' W"},
 {'lat': "30° 28' 55.68384'' N", 'lng': "91° 8' 15.79344'' W"},
 {'lat': "30° 26' 6.82008'' N", 'lng': "91° 4' 40.43496'' W"}]

In [34]:
pd.DataFrame(geo_list)

                      lat                   lng
0    30° 29' 40.42716'' N   91° 9' 21.98016'' W
1    30° 25' 34.68792'' N   91° 2' 19.37184'' W
2    30° 38' 54.66876'' N   91° 9' 23.38596'' W
3    30° 28' 33.38040'' N   91° 10' 6.17880'' W
4    30° 34' 53.04000'' N   91° 8' 34.44000'' W
..                    ...                   ...
168  30° 32' 45.67812'' N  91° 10' 33.38688'' W
169  30° 23' 31.20000'' N   91° 5' 21.12000'' W
170  30° 28' 21.68400'' N   91° 3' 27.37476'' W
171  30° 28' 55.68384'' N   91° 8' 15.79344'' W
172   30° 26' 6.82008'' N   91° 4' 40.43496'' W

[173 rows x 2 columns]

#### apply to all

In [36]:
first_list = adress_list[100:140]

geo_list = []
for adress in first_list:
    g = geocoder.opencage(adress, key="x")
    result = g.json.keys()
    key = list(result)[0]
    geo = g.json[key]
    geo_list.append(geo)

In [37]:
geo_list

[{'lat': "30° 22' 44.47236'' N", 'lng': "91° 4' 4.32372'' W"},
 {'lat': "30° 28' 49.37520'' N", 'lng': "91° 6' 32.93532'' W"},
 {'lat': "30° 27' 52.45380'' N", 'lng': "91° 9' 33.24744'' W"},
 {'lat': "30° 24' 55.77120'' N", 'lng': "91° 10' 25.85280'' W"},
 {'lat': "30° 34' 31.65384'' N", 'lng': "91° 8' 57.93036'' W"},
 {'lat': "30° 38' 54.81024'' N", 'lng': "91° 12' 32.33232'' W"},
 {'lat': "30° 38' 15.52128'' N", 'lng': "91° 9' 39.80088'' W"},
 {'lat': "30° 34' 50.16612'' N", 'lng': "91° 9' 46.98180'' W"},
 {'lat': "30° 25' 38.28000'' N", 'lng': "91° 2' 8.16000'' W"},
 {'lat': "30° 34' 5.59740'' N", 'lng': "91° 8' 59.44992'' W"},
 {'lat': "30° 26' 23.56512'' N", 'lng': "91° 1' 53.26248'' W"},
 {'lat': "30° 39' 21.96000'' N", 'lng': "91° 8' 8.88000'' W"},
 {'lat': "30° 25' 38.28000'' N", 'lng': "91° 2' 8.16000'' W"},
 {'lat': "30° 28' 42.47580'' N", 'lng': "91° 8' 38.81688'' W"},
 {'lat': "30° 26' 54.60000'' N", 'lng': "91° 7' 48.00000'' W"},
 {'lat': "30° 24' 42.92244'' N", 'lng': "91° 11' 26.63664'' W"},
 {'lat': "30° 23' 34.00224'' N", 'lng': "91° 2' 28.36968'' W"},
 {'lat': "30° 30' 18.72000'' N", 'lng': "91° 7' 5.16000'' W"},
 {'lat': "30° 24' 45.38088'' N", 'lng': "91° 6' 59.62788'' W"},
 {'lat': "30° 31' 58.91160'' N", 'lng': "91° 9' 51.42672'' W"},
 {'lat': "30° 27' 20.88000'' N", 'lng': "91° 3' 34.56000'' W"},
 {'lat': "30° 27' 20.88000'' N", 'lng': "91° 3' 34.56000'' W"},
 {'lat': "30° 32' 13.63380'' N", 'lng': "91° 3' 54.58788'' W"},
 {'lat': "30° 25' 38.28000'' N", 'lng': "91° 2' 8.16000'' W"},
 {'lat': "30° 26' 47.04144'' N", 'lng': "91° 10' 4.67508'' W"},
 {'lat': "30° 29' 19.68288'' N", 'lng': "91° 8' 21.38316'' W"},
 {'lat': "30° 28' 2.46648'' N", 'lng': "91° 10' 6.96432'' W"},
 {'lat': "30° 25' 38.28000'' N", 'lng': "91° 2' 8.16000'' W"},
 {'lat': "30° 29' 9.60000'' N", 'lng': "91° 8' 53.16000'' W"},
 {'lat': "30° 23' 2.09688'' N", 'lng': "91° 3' 52.21152'' W"},
 {'lat': "30° 28' 30.87876'' N", 'lng': "91° 7' 29.91756'' W"},
 {'lat': "30° 26' 18.91032'' N", 'lng': "91° 4' 53.57064'' W"},
 {'lat': "30° 29' 5.28000'' N", 'lng': "91° 4' 8.04000'' W"},
 {'lat': "30° 30' 31.00752'' N", 'lng': "91° 10' 12.03888'' W"},
 {'lat': "30° 29' 5.28000'' N", 'lng': "91° 4' 8.04000'' W"},
 {'lat': "30° 27' 54.21204'' N", 'lng': "91° 2' 43.23804'' W"},
 {'lat': "30° 27' 18.66888'' N", 'lng': "91° 1' 28.86420'' W"},
 {'lat': "30° 21' 36.67104'' N", 'lng': "91° 4' 21.61164'' W"},
 {'lat': "30° 24' 24.31188'' N", 'lng': "91° 2' 51.55188'' W"},
 {'lat': "30° 25' 22.99944'' N", 'lng': "91° 10' 39.07200'' W"}]

### --> It worked out. However, the API limit for free version is set to 2.500 per days. As the adress list has more than 30.000 lines, I decided not to add it to my Tableau.

## Trying to use the Bing Geo API

In [45]:
url = "http://spatial.virtualearth.net/REST/v1/Dataflows/Geocode?input=csv&key=x"

In [48]:
len(adress_list)

30894

In [49]:
bing_sample = adress_list[0:50]

In [53]:
BingMapsAPIKey = "x"

### Due to time constraints, I will not use the API for this project.